<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="AngularJS" />
    <meta name="description" content="Angular Material Kitchen Sink" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Angular Material Kitchen Sink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Bower Components -->
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <!-- Local Styles-->
    <link href="site.css" rel="stylesheet" />
    <link href="app/styles/bottomSheet.css" rel="stylesheet" />
    <link href="app/styles/button.css" rel="stylesheet" />
    <link href="app/styles/card.css" rel="stylesheet" />
    <link href="app/styles/datePicker.css" rel="stylesheet" />
    <link href="app/styles/progressCircular.css" rel="stylesheet" />
    <link href="app/styles/progressLinear.css" rel="stylesheet" />
    <link href="app/styles/whiteframe.css" rel="stylesheet" />
    <!-- CDN Styles -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="App" layout="row" ng-controller="IndexCtrl" ng-cloak>
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                style="background-color:#4DD0E1;"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" hide-gt-md aria-label="Show Menu">
                    <ng-md-icon icon="{{menuIcon}}" style="fill:white;vertical-align:middle;" ng-click="menuToggle()" hide-gt-sm></ng-md-icon>
                </md-button>
                <h2 style="color:white;">ANGULAR MATERIAL</h2>
            </div>
        </md-toolbar>

        <md-list>
            <md-list-item ng-click="go('home','home');menuToggle();">
                <i class="material-icons" style="color:white;">home</i> <p style="font-size:18px;color:white;">HOME</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-repeat="item in menuItems" ng-click="go(item.path,item.name);menuToggle();">
                <p style="font-size:18px;color:white;">{{item.name | uppercase}}</p>
            </md-list-item>
        </md-list>

    </md-sidenav>
    <div layout="column" layout-fill>
        <header style="color:white;">
            <md-toolbar layout="row" class="md-whiteframe-z1 md-primary md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" hide-gt-md aria-label="Show Menu">
                        <ng-md-icon icon="{{menuIcon}}" style="fill:white;" ng-click="menuToggle()"></ng-md-icon>
                    </md-button>
                    <h1 flex layout-align="center center" style="color:white;">
                        <span>{{title | uppercase}}</span>
                    </h1>
                    <a href="https://github.com/mattspaulding/angular-material-kitchen-sink"><ng-md-icon icon="github-circle" size="48" style="fill:white;vertical-align:middle;"></ng-md-icon></a>
                </div>
            </md-toolbar>
        </header>
        <main class="md-padding" layout="row" flex>
            <md-content flex id="content">
                <div class="fade-view" ui-view="">
                </div>
            </md-content>
        </main>

    </div>

    <!-- 3rd party libraries -->
    <!-- Bower Components -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <!-- Load services -->
    <!-- Load controllers -->
    <script src="app/controllers/indexCtrl.js"></script>
    <script src="app/controllers/homeCtrl.js"></script>
    <script src="app/controllers/sideNavLeftCtrl.js"></script>
    <script src="app/controllers/autocompleteCtrl.js"></script>
    <script src="app/controllers/bottomSheetCtrl.js"></script>
    <script src="app/controllers/buttonCtrl.js"></script>
    <script src="app/controllers/cardCtrl.js"></script>
    <script src="app/controllers/datePickerCtrl.js"></script>
    <script src="app/controllers/gridListCtrl.js"></script>
    <script src="app/controllers/inputCtrl.js"></script>
    <script src="app/controllers/progressCircularCtrl.js"></script>
    <script src="app/controllers/progressLinearCtrl.js"></script>
    <script src="app/controllers/toastCtrl.js"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->
</body>
</html>
