.colorsdemoThemePicker .section {
  font-size: 12px;
  padding: 16px;
  font-weight: bold; }

.colorsdemoThemePicker .line {
  padding: 16px; }

.colorsdemoThemePicker .primary, .colorsdemoThemePicker .accent {
  margin: 4px 0;
  height: 120px; }

.colorsdemoThemePicker [md-colors] {
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1); }

.colorsdemoThemePicker p.footnote {
  font-size: 0.85em;
  margin: 30px;
  padding: 5px;
  background-color: rgba(205, 205, 205, 0.45); }

.colorsdemoThemePicker .componentTag {
  font-weight: bolder;
  font-size: 1.2em;
  padding-left: 10px; }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
