<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Angular Material Kitchen Sink</h1>
        </div>
        <p class="text-center">Angular Material Kitchen Sink is a starting point for building Angular Material web app. It has everything that Angular Material has to offer. All you have to do is modify the code to your own and remove the stuff you don't want. Much of the code comes from <a href="https://material.angularjs.org/latest/">Angular Material docs</a> code snippets. </p>
    </div>
</div>
<content layout="row" layout-sm="column">
    <div flex style="margin:10px;">
        <h2>AngularJS</h2>
        <p class="text-primary">The power of AngularJS</p>
    </div>
    <div flex style="margin:10px;">
        <h2>Material Design</h2>
        <p class="text-primary">The beauty of Material Design</p>
    </div>
    
</content>
