<div class="jumbotron">
    <img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7Y1huOXVQdlFPMmM/materialdesign_introduction.png" width="100%" />
</div>
<md-content>
    <div layout="row" layout-sm="column">
        <div class="page-header text-center">
            <h1>Angular Material Kitchen Sink</h1>
        </div>
    </div>
    <div layout="row" layout-sm="column">
        <div flex style="margin:10px;">
            <p class="text-center">Angular Material Kitchen Sink is a starting point for building Angular Material web app. It has everything that Angular Material has to offer. All you have to do is modify the code to your own and remove the stuff you don't want. Much of the code comes from <a href="https://material.angularjs.org/latest/">Angular Material docs</a> code snippets. </p>
        </div>
        <div flex style="margin:10px;">
            <iframe style="width:100%;max-width:560px;height:315px;" src="https://www.youtube.com/embed/Q8TXgCzxEnw" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <br />
    <md-divider></md-divider>
    <br />
   <div layout="row" layout-sm="column">
        <div flex class="page-header text-center">
            <h2>AngularJS</h2>
        </div>
        <md-button href="https://angularjs.org/" title="Documentation" target="_blank" aria-label="AngularJS">
            <i class="material-icons">launch</i>
            AngularJS Docs
        </md-button>
    </div>
    <div layout="row" layout-sm="column">
        <div flex style="margin:10px;">
            <img src="http://ionicframework.com/present-ionic/slides/img/angular-icon.png" width="100%" />
        </div>
        <div flex="75" style="margin:10px;">
            <p class="text-primary">HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
            <p class="text-primary">Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views.</p>
            <p class="text-primary">AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>
        </div>
    </div>
    <br />
    <md-divider></md-divider>
    <br />
    <div layout="row" layout-sm="column">
        <div flex class="page-header text-center">
            <h2>Material Design</h2>
        </div>
        <md-button href="https://www.google.com/design/spec/material-design/introduction.html" title="Documentation" target="_blank" aria-label="AngularJS">
            <i class="material-icons">launch</i>
            Material Design Docs
        </md-button>
    </div>
    <div layout="row" layout-sm="column">
        <div flex style="margin:10px;">
            <img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png" width="100%" />
        </div>
        <div flex="75" style="margin:10px;">
            <h3>Material is the metaphor</h3>
            <p class="text-primary">A material metaphor is the unifying theory of a rationalized space and a system of motion. The material is grounded in tactile reality, inspired by the study of paper and ink, yet technologically advanced and open to imagination and magic.</p>
            <p class="text-primary">Surfaces and edges of the material provide visual cues that are grounded in reality. The use of familiar tactile attributes helps users quickly understand affordances. Yet the flexibility of the material creates new affordances that supercede those in the physical world, without breaking the rules of physics.</p>
            <p class="text-primary">The fundamentals of light, surface, and movement are key to conveying how objects move, interact, and exist in space and in relation to each other. Realistic lighting shows seams, divides space, and indicates moving parts.</p>
        </div>
    </div>
    <div layout="row" layout-sm="column">
        <div flex style="margin:10px;">
            <img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7NndTQW9VZTlZV2s/materialdesign_principles_bold.png" width="100%" />
        </div>
        <div flex="75" style="margin:10px;">
            <h3>Bold, graphic, intentional</h3>
            <p class="text-primary">The foundational elements of print-based design—typography, grids, space, scale, color, and use of imagery—guide visual treatments. These elements do far more than please the eye. They create hierarchy, meaning, and focus. Deliberate color choices, edge-to-edge imagery, large-scale typography, and intentional white space create a bold and graphic interface that immerse the user in the experience.</p>
            <p class="text-primary">An emphasis on user actions makes core functionality immediately apparent and provides waypoints for the user.</p>
        </div>
    </div>
    <div layout="row" layout-sm="column">
        <div flex style="margin:10px;">
            <img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7dkRYelJkeklqWFU/materialdesign_principles_motion.png" width="100%" />
        </div>
        <div flex="75" style="margin:10px;">
            <h3>Motion provides meaning</h3>
            <p class="text-primary">Motion respects and reinforces the user as the prime mover. Primary user actions are inflection points that initiate motion, transforming the whole design.</p>
            <p class="text-primary">All action takes place in a single environment. Objects are presented to the user without breaking the continuity of experience even as they transform and reorganize.</p>
            <p class="text-primary">Motion is meaningful and appropriate, serving to focus attention and maintain continuity. Feedback is subtle yet clear. Transitions are efﬁcient yet coherent.</p>
        </div>
    </div>

</md-content>
